modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=20524 BASE_PATH=/ pnpm --filter @workspace/cctv-dashboard run dev"
waitForPort = 20524

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
HIK_ACCOUNT = "light_rajasthan"
HIK_PASSWORD = "tz7jHgGWWbEdAKvYbl78XbkAdyHoto64zmGwLmamczEbZWYtrZn8ibbAOdJ8kObrdwz8K8ac8+tUMYPMBx4ezUWaINzWYzhjN8VbK9J1P39ievtGtRPQIy73b9xnSxs1XYQLjCYFogC8gD9JgA4iPLXw7JFxf1ZfWB1OMj5s4oMn+cq1KN5d3TiVAEM3IWTS5ewWE8XnIf/QVhvoLmQYoHCyGV2m9KhrWJG1FRKxTxjROsAT0YHWscm+WGuG6bBjNjZQzeg/HN9ppfhCXgUcJeWZzCZSVIr1h3l/BWArnOpmPVVHhbEzIILgJ4GY/Bz/MKt0QLh4dooojI0apkLROg=="
